.jumbotron {
  padding-top: 70px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("images/laptop-and-drink.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 50px;
}
.jumbotron h1 {
  font: 'Holtwood One SC';
  font-size: 70px;
  font-weight: bold;
}
.navbar navbar-default{
  background-color: #333;
}

.table th {
  font-size: 20px;
  font:"Archivo Black";
}
#About-us{
  background: purple;
}

#coding {
background: white;
}

#cocktails {
background: 	#E0FFFF;
}

#social{
  background: 	#D3D3D3;
  padding-bottom: 50px;
}

#social-buttons button {
margin-top: 50px;
font-weight: bold;
}

.btn-instagram {
  background-color: #e60073;
}
.btn-instagram a {
  color: white;
}

.btn-pinterest {
  background-color: red;
}

.btn-pinterest a{
  color: white;
}

.navbar {
  background-color: #4d4d4d;
}
.navbar-brand {
  color: white;
  font-weight: bold;
}
.nav-link {
  color: white;
}

.container {
  padding-top: 50px;
}

.row {
  margin: 60px 0;
  padding: 40px 80px;
}

.row img, .img-circle, .img-responsive {
  height: 200px;
  width: 200px;
}

.row .pull-right {
  margin: 0 0 10px 20px;
}

.row .pull-left {
  margin: 0 20px 10px 0;
}
